<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .form-input:focus+.form-label,
        .form-input:not(:placeholder-shown)+.form-label {
            transform: translateY(-0.75rem) scale(0.75);
            color: white;
            /* Tailwind blue-500 */
            font-size: x-large;

        }
    </style>
</head>

<body>
    {% if error %}
    <!-- Toast -->
    <div class="p-4 text-sm text-red-800  bg-red-300 dark:bg-gray-800 dark:text-red-400" role="alert">
      <span class="font-medium">Error! </span>{{error}}
    </div>
{% endif %}
    <section class="gradient-form h-full bg-neutral-200 dark:bg-black">
        <div class="container h-full p-10 m-auto">
            <div class="flex h-full flex-wrap items-center justify-center text-neutral-800 dark:text-neutral-200">
                <div class="w-full">
                    <div class="block rounded-lg bg-white shadow-lg bg-gradient-to-r  from-cyan-400 to-blue-600">
                        <div class="g-0 lg:flex lg:flex-wrap">
                            <!-- Left column container-->
                            <div class="px-4 md:px-0 lg:w-6/12">
                                <div class="md:mx-6 md:p-12">
                                    <!--Logo-->
                                    <div class="text-center">
                                        <img class="mx-auto w-48"
                                            src="https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                                            alt="logo" />
                                        <h4 class="mb-12 mt-1 pb-1 text-xl font-semibold">
                                            We are LappySpace
                                        </h4>
                                    </div>

                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <p class="mb-4" "dark:text-black">Please login to your account</p>
                                        <!--Username input-->
                                        <div class="relative">
                                            <input type="text" name="username"
                                                class="form-input peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[3.6] outline-none transition-all duration-200 ease-linear dark:text-white dark:placeholder:text-neutral-300"
                                                id="exampleFormControlInput1" placeholder="" />
                                            <label for="exampleFormControlInput1"
                                                class="form-label absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out dark:text-black">
                                                Email
                                            </label>
                                        </div>

                                        <!--Password input-->
                                        <div class="relative mb-4">
                                            <input type="password" name="password"
                                                class="form-input peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[3.6] outline-none transition-all duration-200 ease-linear dark:text-black dark:placeholder:text-black"
                                                id="exampleFormControlInput11" placeholder="" />
                                            <label for="exampleFormControlInput11"
                                                class="form-label absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out dark:text-black">
                                                Password
                                            </label>
                                        </div>
                                        {% load socialaccount %}
                                        <a href="{% provider_login_url 'google' %}">Login</a>
                                        <!--Submit button-->
                                        <div class="mb-12 pb-1 pt-1 text-center">
                                            <input 
                                                class="mb-3 inline-block w-full rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-dark-3 transition duration-150 ease-in-out hover:shadow-dark-2 focus:shadow-dark-2 focus:outline-none focus:ring-0 active:shadow-dark-2 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong"
                                                type="submit"
                                                style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);">
                                    


                                            <!--Forgot password link-->
                                            {% comment %} <a href="#!">Forgot password?</a> {% endcomment %}
                                        </div>

                                        <!--Register button-->
                                        <div class="flex items-center justify-between pb-6">
                                            <a href="\registration" class="mb-0 me-2">Don't have an account?</a>
                                            {% comment %} //<input type="submit" value="" class="inline-block rounded border-2 border-danger px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-danger transition duration-150 ease-in-out hover:border-danger-600 hover:bg-danger-50/50 hover:text-danger-600 focus:border-danger-600 focus:bg-danger-50/50 focus:text-danger-600 focus:outline-none focus:ring-0 active:border-danger-700 active:text-danger-700 dark:hover:bg-rose-950 dark:focus:bg-rose-950"> {% endcomment %}
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!-- Right column container with background and description-->
                            <div class="flex rounded-b-lg lg:w-6/12 lg:rounded-e-lg lg:rounded-bl-none bg-white">

                                <div class=" bg-transparent text-white">

                                    <img src="..//static/opening.jpg" class="w-full lg:h-full lg:w-full  opacity-100">


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>